{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>


    #formPayment{
        margin:50px 0px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }

</style>
{% endblock %}


{% block body %}
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-xs-12">
                    <h1>List of payments requests</h1>
            
                    <div class="content-container">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Email</th>
                                    <th>Amount</th>
                                    <th>Request id</th>
                                    <th>Request status</th>
                                </tr>

                                {% for payment in payments %}
                                    {% set requestStatus = api_lydia.requestStatus(payment.id) %}
                                    <tr>
                                        <td>
                                            {{payment.createdAt|date('d/m H:i:s')}}
                                        </td>
                                        <td>
                                            {{payment.firstName}}
                                        </td>
                                        <td>
                                            {{payment.lastName}}
                                        </td>
                                        <td>
                                            {{payment.email}}
                                        </td>
                                        <td>
                                            {{payment.amount}}€
                                        </td>
                                        <td>
                                            {{payment.requestId}}
                                        </td>
                                        <td>
                                            {% if requestStatus == 0 %}
                                                <span class="label-pending">Pending</span>
                                            {% elseif requestStatus == 1 %}
                                                <span class="label-success">Success</span>
                                            {% elseif requestStatus == 6 %}
                                                <span class="label-cancelled">Cancelled</span>
                                            {% else %}
                                                <span class="label-unknown">Unknown status</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if requestStatus == 0 %}
                                                <a href="{{'https://homologation.lydia-app.com/collect/payment/'~payment.requestUuid~'/auto'}}" target="_blank">Pay</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            
            
        });
    </script>
{% endblock %}